xml/QCDmlEnsemble2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.lqcd.org/ildg/QCDml/ensemble2.0" targetNamespace="http://www.lqcd.org/ildg/QCDml/ensemble2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- Top level element -->
  <xs:element name="markovChain">
    <xs:annotation>
      <xs:documentation>The root element of QCDmlEnsemble documents, also known as "ensemble XML". It represents the metadata of an ensemble (i.e. a sequence of gauge configurations generated by a single Markov Chain). Below this level the XML is static across an ensemble of data.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
       <xs:element name="markovChainURI" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>The persistent ILDG-wide unique identifier of (the metadata of) an ensemble.</xs:documentation>
        </xs:annotation>
        </xs:element>
        <xs:element name="management" type="managementType"/>
        <xs:element name="license" type="licenseType"/>
        <xs:element name="fundingReferences" type="fundingType" minOccurs="0"/>
        <xs:element name="physics" type="physicsType"/>
        <xs:element name="algorithm" type="algorithmType"/>
        <xs:element name="cLibrary" type="xs:anyURI" minOccurs="0"/>
        <xs:element name="additionalInfo" type="additionalInfoType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Management info -->
  <xs:complexType name="managementType">
    <xs:annotation>
      <xs:documentation>Contains information about who, what, and when the data was done</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="revisions" type="xs:nonNegativeInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The number of times the entry for this ensemble has been revised</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="collaboration" type="xs:normalizedString"/>
      <xs:element name="projectName" type="xs:normalizedString"/>
      <xs:element name="ensembleLabel" type="xs:normalizedString" minOccurs="0">
        <xs:annotation>
          <xs:documentation>An optional label to identify this ensemble or to categorize several ensembles</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publishedAlias" type="xs:normalizedString" minOccurs="0">
        <xs:annotation>
          <xs:documentation>An optional short text string to identify this ensemble by collaboration dependent notations, such as a list of name and value pairs of coupling parameters in publications</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reference" type="xs:normalizedString" minOccurs="0"/>
      <xs:element name="archiveHistory">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="archiveEvent" type="managementActionType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="managementActionType">
    <xs:annotation>
      <xs:documentation>Management action such as add to the catalogue, withdraw from the catalogue</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="revision" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="revisionAction" type="revisionActionType"/>
      <xs:element name="participant" type="participantType"/>
      <xs:element name="date" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="revisionActionType">
    <xs:annotation>
      <xs:documentation>An enumeration of revision actions</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="add">
        <xs:annotation>
          <xs:documentation>add a new ensemble</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="replace">
        <xs:annotation>
          <xs:documentation>replace ensemble document</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="remove">
        <xs:annotation>
          <xs:documentation>remove ensemble</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- participant -->
  <xs:complexType name="participantType">
    <xs:annotation>
      <xs:documentation>Who made this revision</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>ORCID + optional name and/or institution</xs:documentation>
        </xs:annotation>
        <xs:element name="orcid" type="orcidType"/>
        <xs:element name="name" type="xs:string" minOccurs="0"/>
        <xs:element name="institution" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>No ORCID and mandatory name and institution</xs:documentation>
        </xs:annotation>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="institution" type="xs:string"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="orcidType">
    <xs:restriction base="xs:token">
      <xs:pattern value="\d\d\d\d\-\d\d\d\d\-\d\d\d\d\-\d\d\d\d"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- License info -->
  <xs:complexType name="licenseType">
    <xs:annotation>
      <xs:documentation>Specification of ONE standard OR custom license (with optional embargoEndDate and acknowledgment)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:choice>
        <xs:group ref="standardLicenseGroup"/>
        <xs:group ref="customLicenseGroup"/>
      </xs:choice>
      <xs:element name="embargoEndDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional "embargoEndDate" (until which "All rights reserved" applies, and after which configs can be used under the specified license)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="acknowledgments" type="acknowledgmentsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional "acknowledgments". Please consider to also mention ILDG in the template text!</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="standardLicenseGroup">
    <xs:annotation>
      <xs:documentation>Standard License: optional name and mandatory URI </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="licenseName" type="xs:string" minOccurs="0"/>
      <xs:element name="licenseURI" type="xs:anyURI"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="customLicenseGroup">
    <xs:annotation>
      <xs:documentation>Custom License (discouraged): text or reference or both</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Custom License: text + optional reference</xs:documentation>
        </xs:annotation>
        <xs:element name="customLicenseText" type="xs:string"/>
        <xs:element name="customLicenseReference" type="xs:anyURI" minOccurs="0"/>
      </xs:sequence>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Custom License: reference only</xs:documentation>
        </xs:annotation>
        <xs:element name="customLicenseReference" type="xs:anyURI"/>
      </xs:sequence>
    </xs:choice>
  </xs:group>

  <xs:complexType name="acknowledgmentsType">
    <xs:annotation>
      <xs:documentation>Optional annotation followed by "citation" or "templateText" or both</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:choice>
        <xs:sequence>
          <xs:element name="citation" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="templateText" type="xs:string" minOccurs="0"/>  
        </xs:sequence>
        <xs:element name="templateText" type="xs:string"/>  
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- Funding info -->
  <xs:complexType name="fundingType">
    <xs:annotation>
      <xs:documentation>Non-empty list of "fundingReference" elements which are compatible with (but more restricted than) in the DataCite schema.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="fundingReference" type="fundingReferenceType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fundingReferenceType">
    <xs:annotation>
      <xs:documentation>A mandatory "funderName" followed by optional "awardNumber" and/or "awardTitle"</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="funderName" type="nonEmptyString">
        <xs:annotation>
          <xs:documentation>Name of the funding provider</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="awardTitle" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The human readable title of the award (grant)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="awardNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The code assigned by the funder to a sponsored award (grant)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Physics Info -->
  <xs:complexType name="physicsType">
    <xs:annotation>
      <xs:documentation>Contains the physics information</xs:documentation>
    </xs:annotation>
      <xs:sequence>
        <xs:element name="annotation" type="xs:string" minOccurs="0"/>
        <xs:element name="size" type="sizeType"/>
        <xs:element name="action" type="actionType"/>
        <xs:element name="observables" type="observablesType" minOccurs="0"/>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sizeType">
    <xs:annotation>
      <xs:documentation>The simulation size, for each dimension. The supported order is either txyz or xyzt (where z or yz are optional and must be absent in 3- or 2-dimensional case). Note that neither of these orders is equal to the one used in the layout of the binary files!</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:choice>
        <xs:sequence>
          <xs:element name="x" type="xs:positiveInteger"/>
          <xs:element name="y" type="xs:positiveInteger" minOccurs="0"/>
          <xs:element name="z" type="xs:positiveInteger" minOccurs="0"/>
          <xs:element name="t" type="xs:positiveInteger"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="t" type="xs:positiveInteger"/>
          <xs:element name="x" type="xs:positiveInteger"/>
          <xs:element name="y" type="xs:positiveInteger" minOccurs="0"/>
          <xs:element name="z" type="xs:positiveInteger" minOccurs="0"/>
        </xs:sequence>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="observablesType">
    <xs:annotation>
      <xs:documentation>Observables calculated on configurations of this ensemble</xs:documentation>
    </xs:annotation>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="elem" type="observableType"/>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="observableType">
    <xs:annotation>
      <xs:documentation>Definition of observalbes</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="observableNameType"/>
      <xs:element name="val" type="xs:double"/>
      <xs:element name="err" type="xs:double"/>
      <xs:element name="glossary" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="observableNameType">
    <xs:annotation>
      <xs:documentation>Enumeration of possible observable names</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ampi"/>
      <xs:enumeration value="amrho"/>
      <xs:enumeration value="mpi/mrho"/>
      <xs:enumeration value="r0/a"/>
      <xs:enumeration value="r1/a"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Action Info -->
  <xs:complexType name="actionType">
    <xs:annotation>
      <xs:documentation>The action XML chunk</xs:documentation>
    </xs:annotation>
      <xs:sequence>
        <xs:element name="annotation" type="xs:string" minOccurs="0"/>
        <xs:element name="gluon">  <!-- mandatory -->
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="gluonActions" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="photon" minOccurs="0"> <!-- optional -->
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="photonActions"/>    <!-- exactly one -->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="quark" minOccurs="0">  <!-- optional -->
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="quarkActions" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
  </xs:complexType>

  <!-- Gluon Action Hierarchy -->
  <xs:group name="gluonActions">
    <xs:choice>
    <xs:group ref="anisotropicGluonActions"/>  
    <xs:group ref="plaquetteGluonActions"/>  
   </xs:choice>
  </xs:group>

  <xs:group name="anisotropicGluonActions">
   <xs:choice>
    <xs:element name="anisotropicWilsonGluonAction" type="anisotropicWilsonGluonActionType"/>
    <xs:element name="anisotropicTpWilsonGluonAction" type="anisotropicTpWilsonGluonActionType"/>
   </xs:choice>
  </xs:group>

  <xs:group name="plaquetteGluonActions">
   <xs:choice>
     <xs:element name="plaquetteGluonAction" type="plaquetteGluonActionType"/>
     <xs:group ref="sixLinkGluonActions"/>
   </xs:choice>
  </xs:group>

  <xs:group name="sixLinkGluonActions">
    <xs:choice>
      <xs:element name="treelevelSymanzikGluonAction" type="treelevelSymanzikGluonActionType"/>
      <xs:element name="treelevelSymanzikOpenBCGluonAction" type="treelevelSymanzikOpenBCGluonActionType"/>
      <xs:element name="LuescherWeiszGluonAction" type="LuescherWeiszGluonActionType"/>
      <xs:element name="tpLuescherWeiszGluonAction" type="tpLuescherWeiszGluonActionType"/>
      <xs:element name="iwasakiRGGluonAction" type="iwasakiRGGluonActionType"/>
      <xs:element name="DBW2GluonAction" type="DBW2GluonActionType"/>
   </xs:choice>
  </xs:group>

  <!-- Gluon Action Implementations -->
  <xs:complexType name="generalGluonActionType">
    <xs:annotation>
      <xs:documentation>Has the general properties of the gluon action</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="actionInfo"/>
      <xs:element name="gluonField" type="gluonFieldType"/>
      <xs:element name="topologyFixing" type="topologyFixingType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="gluonFieldType">
    <xs:annotation>
      <xs:documentation>Specifies the properties of the gluon field, e.g. gauge group, representation, and BC</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="gaugeGroup" type="gaugeGroupType"/>
      <xs:element name="representation" type="gluonRepresentationType"/>
      <xs:group ref="generalBoundaryConditions"/>
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="generalOpenBCGluonActionType">
    <xs:annotation>
      <xs:documentation>Has the general properties of the gluon action</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="actionInfo"/>
      <xs:element name="gluonField" type="openBCGluonFieldType"/>
      <xs:element name="topologyFixing" type="topologyFixingType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="openBCGluonFieldType">
    <xs:annotation>
      <xs:documentation>Specifies the properties of the gluon field with open BC</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="gaugeGroup" type="gaugeGroupType"/>
      <xs:element name="representation" type="gluonRepresentationType"/>
      <xs:group ref="openBoundaryConditions"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="gaugeGroupType">
    <xs:annotation>
      <xs:documentation>Supported gauge groups (Note: Sp(2n) denotes the intersection of Sp(2n,C) and U(2n))</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="S[OU]\([2-9]\)"/>
      <xs:pattern value="S[OU]\([1-9][0-9]+\)"/>
      <xs:pattern value="Sp\([468]\)"/>
      <xs:pattern value="Sp\([1-9][0-9]*[02468]\)"/>
      <xs:pattern value="U\([1-9][0-9]*\)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gluonRepresentationType">
    <xs:annotation>
      <xs:documentation>Enumeration of possible representations of gluons</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="fundamental"/>
      <xs:enumeration value="adjoint"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="topologyFixingType">
    <xs:annotation>
      <xs:documentation>Contains the method to fix topology and the value of the topological charge</xs:documentation>
    </xs:annotation>
      <xs:sequence>
        <xs:group ref="generalDeterminantGroup" minOccurs="0"/>
        <xs:element name="charge" type="xs:integer">
          <xs:annotation>
            <xs:documentation>the value of the polological charge (integer)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generalDeterminantType">
    <xs:annotation>
      <xs:documentation>The base type for defining a determinant to fix topology.</xs:documentation>
    </xs:annotation>
  </xs:complexType>

  <xs:group name="generalDeterminantGroup">
   <xs:choice>
    <xs:element name="wilsonDeterminant" type="wilsonDeterminantType"/>
    <xs:element name="wilsonTmGhostDeterminant" type="wilsonTmGhostDeterminantType"/>
   </xs:choice>
  </xs:group>

  <xs:complexType name="wilsonDeterminantType">
    <xs:annotation>
      <xs:documentation>wilson determinant det(H_W(-m0)^2) for topology fixing with the Hermitian Wilson-Dirac kernel H_W, where m0 is the kernelMass.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalDeterminantType">
        <xs:sequence>
          <xs:element name="kernelMass" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="wilsonTmGhostDeterminantType">
    <xs:annotation>
      <xs:documentation>wilson plus twisted ghost determinant det(H_W(-m0)^2/(H_W(-m0)^2+mu^2)) for topology fixing with the Hermitian Wilson-Dirac kernel H_W, where m0 is the kernelMass and mu is the twistedMass.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="wilsonDeterminantType">
        <xs:sequence>
          <xs:element name="twistedMass" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Specific Gluon Action Implementations -->
  <xs:complexType name="anisotropicGluonActionType">
    <xs:annotation>
      <xs:documentation>Extends a general gluon action with with anisotropy parameters xi0 and the anisotropy direction</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalGluonActionType">
        <xs:sequence>
          <xs:element name="xi0" type="couplingType" default="1.0"/>
          <xs:element name="anisoDirection" type="xs:Name" default="T"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="anisotropicWilsonGluonActionType">
    <xs:annotation>
      <xs:documentation>Anisotropic version of the Wilson Plaquette Action</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="anisotropicGluonActionType">
        <xs:sequence>
          <xs:element name="beta" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="anisotropicTpWilsonGluonActionType">
    <xs:annotation>
      <xs:documentation>Anisotropic version of the Wilson Plaquette Action with tadpole improvement</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="anisotropicWilsonGluonActionType">
        <xs:sequence>
          <xs:element name="tadpoleSpatial" type="couplingType"/>
          <xs:element name="tadpoleTemporal" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="plaquetteGluonActionType">
    <xs:annotation>
      <xs:documentation>The Wilson plaquette action, has a coupling beta</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalGluonActionType">
        <xs:sequence>
          <xs:element name="beta" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="plaquetteOpenBCGluonActionType">
    <xs:annotation>
      <xs:documentation>The Wilson plaquette action with open BC, has a coupling beta</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalOpenBCGluonActionType">
        <xs:sequence>
          <xs:element name="beta" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sixLinkGluonActionType">
    <xs:annotation>
      <xs:documentation>Wilson plaquette action with additional six-link terms action has three couplings</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="plaquetteGluonActionType">
        <xs:sequence>
          <xs:element name="normalisation">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="cs_sum_to_one"/>
                <xs:enumeration value="c0_is_one"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="c0" type="couplingType"/>
          <xs:element name="c1" type="couplingType"/>
          <xs:element name="c2" type="couplingType"/>
          <xs:element name="c3" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sixLinkOpenBCGluonActionType">
    <xs:complexContent>
      <xs:extension base="plaquetteOpenBCGluonActionType">
        <xs:sequence>
          <xs:element name="normalisation">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="cs_sum_to_one"/>
                <xs:enumeration value="c0_is_one"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="c0" type="couplingType"/>
          <xs:element name="c1" type="couplingType"/>
          <xs:element name="c2" type="couplingType"/>
          <xs:element name="c3" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="iwasakiRGGluonActionType">
    <xs:annotation>
      <xs:documentation>This six-link action has three couplings</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sixLinkGluonActionType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DBW2GluonActionType">
    <xs:annotation>
      <xs:documentation>DBW2 is a six link action with specific couplings</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sixLinkGluonActionType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="treelevelSymanzikGluonActionType">
    <xs:annotation>
      <xs:documentation>The treelevel Symanzik action is a six link action with specific couplings</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sixLinkGluonActionType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="treelevelSymanzikOpenBCGluonActionType">
    <xs:annotation>
      <xs:documentation>The treelevel Symanzik action is a six link action with open BC and specific couplings</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sixLinkOpenBCGluonActionType">
        <xs:sequence>
          <xs:element name="cG" type="couplingFixedToOneType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LuescherWeiszGluonActionType">
    <xs:annotation>
      <xs:documentation>The Luescher-Weisz gluon action is a six link action</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sixLinkGluonActionType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tpLuescherWeiszGluonActionType">
    <xs:annotation>
      <xs:documentation>The Luescher-Weisz gluon action with tadpole-improved coefficients is a six link action</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="LuescherWeiszGluonActionType">
        <xs:sequence>
          <xs:element name="u0" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- Photon Action Hierarchy -->
  <xs:group name="photonActions">
    <xs:choice>
      <xs:group ref="compactPhotonActions"/>
      <xs:group ref="nonCompactPhotonActions"/>
    </xs:choice>
  </xs:group>

  <xs:group name="compactPhotonActions">
    <xs:choice>
      <!-- compactPlaquettePhotonAction (without Cstar BC) to be added here, when implemented -->
      <xs:element name="compactPlaquetteCstarPhotonAction" type="compactPlaquetteCstarPhotonActionType"/>
      <!-- compactTreelevelSymanzikPhotonAction (without Cstar BC) to be added here, when implemented -->
      <xs:element name="compactTreelevelSymanzikCstarPhotonAction" type="compactTreelevelSymanzikCstarPhotonActionType">
        <xs:annotation>
          <xs:documentation>The compact treelevel Symanzik photon action is a six link action with specific couplings</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:group>

  <xs:group name="nonCompactPhotonActions">
    <xs:choice>
      <!-- nonCompactQedLPhotonAction to be added here, when implemented -->
      <!-- nonCompactQedTLPhotonAction to be added here, when implemented -->
      <xs:element name="nonCompactQedSPhotonAction" type="nonCompactQedSPhotonActionType"/>
    </xs:choice>
  </xs:group>

  <!-- Compact Photon Action Implementations -->
  <xs:complexType name="generalPhotonActionType">
    <xs:annotation>
      <xs:documentation>General properties of the all photon (QED) actions</xs:documentation>
    </xs:annotation>
    <xs:group  ref="actionInfo"/>
  </xs:complexType>

  <xs:complexType name="compactPlaquetteCstarPhotonActionType">
    <xs:annotation>
      <xs:documentation>The compact plaquette QED_C action has a compactCstarPhotonFieldType, a coupling alpha (=e_0^2/4pi) and an (inverse) elementary charge</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalPhotonActionType">
        <xs:sequence>
          <xs:element name="photonField" type="compactCstarPhotonFieldType"/>
          <xs:element name="alpha" type="couplingType"/>
          <xs:element name="invqel" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="compactCstarPhotonFieldType">
    <xs:annotation>
      <xs:documentation>Photon field for compact QED_C (WITHOUT gauge-fixing)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:group ref="cstarBoundaryConditions"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="compactTreelevelSymanzikCstarPhotonActionType">
    <xs:annotation>
      <xs:documentation>The compact treelevel Symanzik QED_C action, is a sixLinkCstarPhotonAction with special parameters (constraints not yet implemented!)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sixLinkCstarPhotonActionType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sixLinkCstarPhotonActionType">
    <xs:complexContent>
      <xs:extension base="compactPlaquetteCstarPhotonActionType">
        <xs:sequence>
          <xs:element name="normalisation">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="cs_sum_to_one"/>
                <xs:enumeration value="c0_is_one"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="c0" type="couplingType"/>
          <xs:element name="c1" type="couplingType"/>
          <xs:element name="c2" type="couplingType"/>
          <xs:element name="c3" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Non-Compact Photon Action Implementations -->
  <xs:complexType name="nonCompactQedSPhotonActionType">
    <xs:annotation>
      <xs:documentation>The non-compact QED_S action has a specific nonCompactQedSPhotonFieldType and a coupling alpha (=e_0^2/4pi)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalPhotonActionType">
        <xs:sequence>
          <xs:element name="photonField" type="nonCompactQedSPhotonFieldType"/>
          <xs:element name="alpha" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nonCompactQedSPhotonFieldType">
    <xs:annotation>
      <xs:documentation>Photon field for non-compact QED_S has landau gauge-fixing and zero-mode shifts</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:group ref="generalBoundaryConditions"/>
      <xs:element name="gaugeFixing" type="landauGaugeFixingType"/>
      <xs:element name="additionalConstraint" type="qedSConstraintType"/>      
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="landauGaugeFixingType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="landau"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="qedSConstraintType">
    <xs:annotation>
      <xs:documentation>Discrete shifts of photon field, see Eq. (5.5) of Gockeler et al. Nucl. Phys. B 371 (1992) 713 [doi:10.1016/0550-3213(92)90693-6] or (9) of Horsley et al. arXiv:1508.0640 [doi:10.1088/0954-3899/43/10/10LT02]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="qedS"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Quark Action Hierarchy -->
  <xs:group name="quarkActions">
    <xs:choice>
      <xs:group ref="neutralQuarkActions"/>
      <xs:group ref="chargedQuarkActions"/>
    </xs:choice>
  </xs:group>

  <xs:group name="neutralQuarkActions">
    <xs:choice>
      <xs:group ref="anisotropicQuarkActions"/>
      <xs:group ref="ciQuarkActions"/>
      <xs:group ref="KSQuarkActions"/>
      <xs:group ref="overlapQuarkActions"/>      
      <xs:group ref="wilsonQuarkActions"/>
      <xs:group ref="hiRepQuarkActions"/>      
    </xs:choice>
  </xs:group>

  <xs:group name="anisotropicQuarkActions">
    <xs:choice>
      <xs:element name="anisotropicWilsonQuarkAction" type="anisotropicWilsonQuarkActionType"/>
      <xs:element name="anisotropicCloverQuarkAction" type="anisotropicCloverQuarkActionType"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="ciQuarkActions">
    <xs:choice>
      <xs:element name="ciQuarkAction" type="ciQuarkActionType"/>
      <xs:element name="fatLinkCIQuarkAction" type="fatLinkCIQuarkActionType"/> 
    </xs:choice>
  </xs:group>

  <xs:group name="hiRepQuarkActions">      
    <xs:choice>
      <xs:element name="wilsonAdjointQuarkAction" type="wilsonAdjointQuarkActionType"/>
      <xs:element name="wilsonTwoIndexSymmetricQuarkAction" type="wilsonTwoIndexSymmetricQuarkActionType"/>
      <xs:element name="wilsonTwoIndexAntisymmetricQuarkAction" type="wilsonTwoIndexAntisymmetricQuarkActionType"/>
    </xs:choice>
  </xs:group>

  <xs:group name="KSQuarkActions">
    <xs:choice>
      <xs:element name="asqTadQuarkAction" type="asqTadQuarkActionType"/>
      <xs:element name="hisqQuarkAction" type="hisqQuarkActionType"/>
    </xs:choice>
  </xs:group>

  <xs:group name="overlapQuarkActions">
    <xs:choice>
      <xs:element name="overlapQuarkAction" type="overlapQuarkActionType"/>
      <xs:element name="domainWallQuarkAction" type="shamirDomainWallQuarkActionType"/>
      <xs:element name="moebiusDomainWallQuarkAction" type="moebiusDomainWallQuarkActionType"/>
    </xs:choice>
  </xs:group>

  <xs:group name="wilsonQuarkActions">
    <xs:choice>
      <xs:element name="wilsonQuarkAction" type="wilsonQuarkActionType"/>
      <xs:group ref="wilsonCloverQuarkActions"/>
      <xs:element name="fatLinkIrrelevantCloverQuarkAction" type="fatLinkIrrelevantCloverQuarkActionType"/>
      <xs:element name="wilsonTmQuarkAction" type="wilsonTmQuarkActionType"/>
      <xs:element name="wilsonTmMassSplitQuarkAction" type="wilsonTmMassSplitQuarkActionType"/>
      <xs:element name="wilsonCloverTmQuarkAction" type="wilsonCloverTmQuarkActionType"/>
      <xs:element name="wilsonCloverTmMassSplitQuarkAction" type="wilsonCloverTmMassSplitQuarkActionType" />
    </xs:choice>
  </xs:group>

  <xs:group name="wilsonCloverQuarkActions">
    <xs:choice>
      <xs:element name="cloverQuarkAction" type="cloverQuarkActionType"/>
      <xs:element name="tpCloverQuarkAction" type="tpCloverQuarkActionType"/>
      <xs:element name="npCloverQuarkAction" type="npCloverQuarkActionType"/>
      <xs:element name="npCloverOpenBCQuarkAction" type="npCloverOpenBCQuarkActionType"/>
      <xs:element name="npExpCloverQuarkAction" type="npCloverQuarkActionType"/>
      <xs:element name="fatLinkDerivNpCloverQuarkAction" type="fatLinkDerivNpCloverQuarkActionType"/>
    </xs:choice>
  </xs:group>
        
  <xs:group name="chargedQuarkActions">
    <xs:choice>
      <xs:element name="npTlCloverChargedQuarkAction" type="npTlCloverChargedQuarkActionType"/>
      <xs:element name="fatLinkDerivNpNiCloverChargedQuarkAction" type="npNiCloverChargedQuarkActionType"/>
    </xs:choice>
  </xs:group>
  
  <!-- (Neutral) Quark Action Implementations -->
  <xs:complexType name="generalQuarkActionType">
    <xs:annotation>
      <xs:documentation>Has the general properties of the quark action</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="actionInfo"/>
      <xs:element name="quarkField" type="quarkFieldType"/>
      <xs:group ref="numberOfFlavours"/>
      <xs:element name="linkSmearing" type="linkSmearingType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="quarkFieldType">
    <xs:annotation>
      <xs:documentation>Specifies the quark field normalisation and boundary conditions</xs:documentation>
    </xs:annotation>
      <xs:sequence>
        <xs:element name="annotation" type="xs:string" minOccurs="0"/>
        <xs:element name="normalisation" type="xs:string"/>
        <xs:group ref="generalBoundaryConditions"/>
      </xs:sequence>
  </xs:complexType>


  <xs:complexType name="generalOpenBCQuarkActionType">
    <xs:annotation>
      <xs:documentation>Has the general properties of the quark action with open BC</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="actionInfo"/>
      <xs:element name="quarkField" type="openBCQuarkFieldType"/>
      <xs:group ref="numberOfFlavours"/>
      <xs:element name="linkSmearing" type="linkSmearingType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="openBCQuarkFieldType">
    <xs:annotation>
      <xs:documentation>Specifies the quark field normalisation and boundary conditions</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="normalisation" type="xs:string"/>
      <xs:group ref="openBoundaryConditions"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wilsonQuarkActionType">
    <xs:annotation>
      <xs:documentation>Wilson quarks have an additional parameter "kappa"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalQuarkActionType">
        <xs:sequence>
          <xs:element name="kappa" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="anisotropicWilsonQuarkActionType">
    <xs:annotation>
      <xs:documentation>Anisotropic Wilson Action in either (mu,mass) or (kappa_s,kappa_t) convention. Wilson's r parameters are optional. Default values are 1.0.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="anisotropicQuarkActionType">
        <xs:sequence>
          <xs:choice>
            <xs:sequence>
              <xs:element name="kappaSpatial" type="couplingType"/>
              <xs:element name="kappaTemporal" type="couplingType"/>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="nu" type="couplingType"/>
              <xs:element name="mass" type="couplingType"/>
            </xs:sequence>
          </xs:choice>
          <xs:element name="rSpatial" type="couplingType" minOccurs="0" default="1.0"/>
          <xs:element name="rTemporal" type="couplingType" minOccurs="0" default="1.0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cloverQuarkActionType">
    <xs:annotation>
      <xs:documentation>The generic clover wilson action type. It is abstract because there are different definitions of CSW that are all clover actions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="wilsonQuarkActionType">
        <xs:sequence>
          <xs:element name="cSW" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npCloverQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Clover Wilson quark action where the coefficient has been determined non-perturbatively</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cloverQuarkActionType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="tpCloverQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Clover Wilson quark action where the coefficient has been determined by tadpole improved perturbation theory</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cloverQuarkActionType">
        <xs:sequence>
          <xs:element name="u0" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cloverOpenBCQuarkActionType">
    <xs:annotation>
      <xs:documentation>The generic clover wilson action type with open BC</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalOpenBCQuarkActionType">
        <xs:sequence>
          <xs:element name="kappa" type="couplingType"/>
          <xs:element name="cSW" type="couplingType"/>
          <xs:element name="cF" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="npCloverOpenBCQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Clover Wilson quark action where the coefficient has been determined non-perturbatively</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cloverOpenBCQuarkActionType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="anisotropicCloverQuarkActionType">
    <xs:annotation>
      <xs:documentation>An element for anisotropic clover</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="anisotropicWilsonQuarkActionType">
        <xs:sequence>
          <xs:element name="cSWSpatial" type="couplingType"/>
          <xs:element name="cSWTemporal" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- FLIC -->
  <xs:complexType name="fatLinkIrrelevantCloverQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Clover Wilson quark action where the coefficient has been determined by tadpole improved perturbation theory and the links for irrelevant operators have been smeared</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cloverQuarkActionType">
        <xs:sequence>
          <xs:element name="u0" type="couplingType"/>
          <xs:element name="u0fl" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fatLinkDerivNpCloverQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Clover Wilson quark action where the coefficient has been determined non-perturbatively and smeared links are used in the derivative term</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cloverQuarkActionType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="wilsonTmQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Wilson twisted mass quark action</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="wilsonQuarkActionType">
        <xs:sequence>
          <xs:element name="mu" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="wilsonCloverTmQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Wilson twisted mass quark action with Clover term</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="wilsonTmQuarkActionType">
        <xs:sequence>
          <xs:element name="cSW" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="wilsonTmMassSplitQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Wilson twisted mass quark action with mass-split doublet as described in Eq. (9) of arXiv:hep-lat/0606011v1. Note that unlike in the wilsonTmQuarkAction the twist is in the tau1 direction, while the tau3 direction is used for the mass splitting.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="wilsonQuarkActionType">
        <xs:sequence>
          <xs:element name="muTwist" type="couplingType"/>
          <xs:element name="muMassSplit" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="wilsonCloverTmMassSplitQuarkActionType">
    <xs:annotation>
      <xs:documentation>The Wilson twisted mass quark action with mass-split doublet plus Clover term</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="wilsonTmMassSplitQuarkActionType">
        <xs:sequence>
          <xs:element name="cSW" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KSQuarkActionType">
    <xs:annotation>
      <xs:documentation>The basic KS action. Abstract</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalQuarkActionType">
        <xs:sequence>
          <xs:element name="mass" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="asqTadQuarkActionType">
    <xs:annotation>
      <xs:documentation>A specific improved KS quark action</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="KSQuarkActionType">
        <xs:sequence>
          <xs:element name="cNaik" type="couplingType"/>
          <xs:element name="c1Link" type="couplingType"/>
          <xs:element name="c3Link" type="couplingType"/>
          <xs:element name="c5LinkChair" type="couplingType"/>
          <xs:element name="c7LinkTwist" type="couplingType"/>
          <xs:element name="cLepage" type="couplingType"/>
          <xs:element name="u0" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KSLinkTreatmentType">
    <xs:sequence>
      <xs:element name="glossary" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fat7QuarkLinkTreatmentType">
    <xs:complexContent>
      <xs:extension base="KSLinkTreatmentType">
        <xs:sequence>
          <xs:element name="c1Link" type="couplingType"/>
          <xs:element name="c3Link" type="couplingType"/>
          <xs:element name="c5LinkChair" type="couplingType"/>
          <xs:element name="c7LinkTwist" type="couplingType"/>
          <xs:element name="u0" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="projectGroupLinkTreatmentType">
    <xs:complexContent>
      <xs:extension base="KSLinkTreatmentType">
        <xs:sequence>
          <xs:element name="group" type="gaugeGroupType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="epsilonType">
    <xs:sequence>
      <xs:element name="method" type="xs:string"/>
      <xs:element name="value" type="couplingType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="asqTadQuarkLinkTreatmentType">
    <xs:complexContent>
      <xs:extension base="KSLinkTreatmentType">
        <xs:sequence>
          <!-- Optional element epsilon -->
          <xs:element minOccurs="0" name="epsilon" type="epsilonType"/>
          <!-- Compulsory elements - fixed order for some reason -->
          <xs:element name="cNaik" type="couplingType"/>
          <xs:element name="c1Link" type="couplingType"/>
          <xs:element name="c3Link" type="couplingType"/>
          <xs:element name="c5LinkChair" type="couplingType"/>
          <xs:element name="c7LinkTwist" type="couplingType"/>
          <xs:element name="cLepage" type="couplingType"/>
          <xs:element name="u0" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="hisqQuarkActionType">
    <xs:annotation>
      <xs:documentation>The HISQ Quark action</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="KSQuarkActionType">
        <xs:sequence>
          <xs:element name="LinkTreatment">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="fat7QuarkLinkTreatment" type="fat7QuarkLinkTreatmentType"/>
                <xs:element name="projectGroupLinkTreatment" type="projectGroupLinkTreatmentType"/>
                <xs:element name="asqTadQuarkLinkTreatment" type="asqTadQuarkLinkTreatmentType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="generalOverlapQuarkActionType">
    <xs:annotation>
      <xs:documentation>The abstract Overlap quark operator</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalQuarkActionType">
        <xs:sequence>
          <xs:element name="mass" type="couplingType">
            <xs:annotation>
              <xs:documentation>The quark mass for this operator</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="kernelMass" type="couplingType">
            <xs:annotation>
              <xs:documentation>The mass that goes into the kernel. Sometimes called the domain wall height. Sometimes given a negative sign convention. This is NOT enforced here.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="shamirDomainWallQuarkActionType">
    <xs:annotation>
      <xs:documentation>The (Shamir) domain-wall quark action is a special form of the moebiusDomainWallQuarkAction with b5=1 and c5=0</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalOverlapQuarkActionType">
        <xs:sequence>
          <xs:element name="N5" type="xs:positiveInteger">
            <xs:annotation>
              <xs:documentation>The degree of the approximation for the square root or equivalently the size of the fifth dimension</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="moebiusDomainWallQuarkActionType">
    <xs:annotation>
      <xs:documentation>The domain-wall quark action. 4D is Wilson and the approx is tanh </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalOverlapQuarkActionType">
        <xs:sequence>
          <xs:element name="N5" type="xs:positiveInteger">
            <xs:annotation>
              <xs:documentation>The degree of the approximation for the square root or equivalently the size of the fifth dimension</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="b5" type="couplingType">
            <xs:annotation>
              <xs:documentation>Introduced for Moebius Domain-wall fermion, and set to 1.0 for standard Shamir's form</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="c5" type="couplingType">
            <xs:annotation>
              <xs:documentation>Introduced for Moebius Domain-wall fermion, and set to 0.0 for standard Shamir's form</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Chirally Improved (CI) fermions -->
  <xs:complexType name="ciQuarkActionType">
    <xs:annotation>
      <xs:documentation>Chirally Improved fermions. Notation follows arXiv:hep-lat/0003005</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalQuarkActionType">
        <xs:sequence>
          <xs:element name="mass" type="couplingType"/>
          <xs:element name="s1" type="couplingType"/>
          <xs:element name="s2" type="couplingType"/>
          <xs:element name="s3" type="couplingType"/>
          <xs:element name="s4" type="couplingType" minOccurs="0"/>
          <xs:element name="s5" type="couplingType"/>
          <xs:element name="s6" type="couplingType"/>
          <xs:element name="s7" type="couplingType" minOccurs="0"/>
          <xs:element name="s8" type="couplingType"/>
          <xs:element name="s9" type="couplingType" minOccurs="0"/>
          <xs:element name="s10" type="couplingType"/>
          <xs:element name="s11" type="couplingType"/>
          <xs:element name="s12" type="couplingType" minOccurs="0"/>
          <xs:element name="s13" type="couplingType"/>
          <xs:element name="v1" type="couplingType"/>
          <xs:element name="v2" type="couplingType"/>
          <xs:element name="v3" type="couplingType" minOccurs="0"/>
          <xs:element name="v4" type="couplingType"/>
          <xs:element name="v5" type="couplingType"/>
          <xs:element name="v6" type="couplingType" minOccurs="0"/>
          <xs:element name="v7" type="couplingType" minOccurs="0"/>
          <xs:element name="v8" type="couplingType" minOccurs="0"/>
          <xs:element name="v9" type="couplingType" minOccurs="0"/>
          <xs:element name="v10" type="couplingType" minOccurs="0"/>
          <xs:element name="v11" type="couplingType" minOccurs="0"/>
          <xs:element name="v12" type="couplingType" minOccurs="0"/>
          <xs:element name="v13" type="couplingType" minOccurs="0"/>
          <xs:element name="v14" type="couplingType" minOccurs="0"/>
          <xs:element name="v15" type="couplingType" minOccurs="0"/>
          <xs:element name="v16" type="couplingType" minOccurs="0"/>
          <xs:element name="v17" type="couplingType" minOccurs="0"/>
          <xs:element name="v18" type="couplingType" minOccurs="0"/>
          <xs:element name="t1" type="couplingType"/>
          <xs:element name="t2" type="couplingType"/>
          <xs:element name="t3" type="couplingType"/>
          <xs:element name="t4" type="couplingType" minOccurs="0"/>
          <xs:element name="t5" type="couplingType"/>
          <xs:element name="t6" type="couplingType" minOccurs="0"/>
          <xs:element name="t7" type="couplingType" minOccurs="0"/>
          <xs:element name="t8" type="couplingType" minOccurs="0"/>
          <xs:element name="t9" type="couplingType" minOccurs="0"/>
          <xs:element name="t10" type="couplingType" minOccurs="0"/>
          <xs:element name="t11" type="couplingType" minOccurs="0"/>
          <xs:element name="t12" type="couplingType" minOccurs="0"/>
          <xs:element name="t13" type="couplingType" minOccurs="0"/>
          <xs:element name="t14" type="couplingType" minOccurs="0"/>
          <xs:element name="t15" type="couplingType"/>
          <xs:element name="a1" type="couplingType" minOccurs="0"/>
          <xs:element name="a2" type="couplingType" minOccurs="0"/>
          <xs:element name="a3" type="couplingType" minOccurs="0"/>
          <xs:element name="a4" type="couplingType" minOccurs="0"/>
          <xs:element name="p1" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fatLinkCIQuarkActionType">
    <xs:annotation>
      <xs:documentation>Chirally improved fermion action with fat links. Same as ciQuarkAction, unless a specification of fat links is added in schema</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ciQuarkActionType"/>
      <!-- Markup for fat links is missing here -->
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="variableType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="variable"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="signApproxNPoleType">
    <xs:union memberTypes="variableType xs:positiveInteger"/>
  </xs:simpleType>
  <xs:simpleType name="signApproxThresholdMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eigenmode"/>
      <xs:enumeration value="ignore"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="signApproxThresholdType">
    <xs:sequence>
      <xs:element name="min" type="couplingType"/>
      <xs:element name="max" type="couplingType"/>
      <xs:element name="method" type="signApproxThresholdMethodType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="zolotarevSignApproxType">
    <xs:annotation>
      <xs:documentation>The Zolotarev rational polynomial approximation is used to estimate sign(H_W). The range of the approximation is specified by either "threshold" or "nEngenmode".</xs:documentation>
    </xs:annotation>
      <xs:sequence>
        <xs:choice>
          <xs:element name="threshold" type="signApproxThresholdType">
            <xs:annotation>
              <xs:documentation>The range OUTSIDE the approximation and how contribution from the range is treated. "method"=eigenmode: all eigenmodes in (min,max) are calculated and the sign(H_W) is treated exactly in the range. "method"=ignore: contribution from the range is simply ignored. Note that "min = - max .lt. 0" is an usual cases. Also note that the upper bound of the sign approximation function is not marked up, because it is in general dependent of configurations.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nEigenmode" type="xs:positiveInteger">
            <xs:annotation>
              <xs:documentation>Low-lying eigenmodes (lambda_i, i=1 to "nEigenmode") are identified and the sign approximation formula is applied for the range of x given by "|x| .ge. max_i |lambda_i|". Upper-bound of the range is not marked up.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
        <xs:element name="nPole" type="signApproxNPoleType">
          <xs:annotation>
            <xs:documentation>The number of poles of the sign approximation formula. Positive integer is recommended when "threshold" is given. variable is allowed when "nEigenmode" is given.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="overlapQuarkActionType">
    <xs:annotation>
      <xs:documentation>The overlap quark action.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalOverlapQuarkActionType">
        <xs:sequence>
          <xs:element name="zolotarevSignApprox" type="zolotarevSignApproxType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Anisotropic Quark Action Implementations -->
  <xs:complexType name="anisotropicQuarkActionType">
    <xs:annotation>
      <xs:documentation>Extends the general quark action with fields related to anisotropy namely the xi0 parameter and the direction which is anisotropic</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generalQuarkActionType">
        <xs:sequence>
          <!-- Bare anisotropy of the gauge fields -->
          <xs:element name="xi0" type="couplingType" default="1.0"/>
          <xs:element name="anisoDirection" type="xs:Name" default="T"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Charged Quark Action Implementations -->
  <xs:complexType name="npTlCloverChargedQuarkActionType">
    <xs:annotation>
      <xs:documentation>Same as npCloverQuarkAction with additional coupling to photon with tree-level photon Clover term</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cloverQuarkActionType">
        <xs:sequence>
          <xs:element name="couplingToPhoton">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="charge" type="quarkChargeType"/>
                <xs:element name="cSW" type="couplingFixedToOneType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="quarkChargeType">
    <xs:annotation>
      <xs:documentation>Enumeration of possible quark charges (i.e. +2/3 and -1/3 in non-compact QED, and integer values relative to the elementary charge and dependent on boundary conditions in compact QED)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="positive"/>
      <xs:enumeration value="negative"/>
    </xs:restriction>
  </xs:simpleType>  
  
  <xs:complexType name="npNiCloverChargedQuarkActionType">
    <xs:annotation>
      <xs:documentation>Same as fatLinkDerivNpCloverQuarkAction with additional coupling to photon (without photon Clover term).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fatLinkDerivNpCloverQuarkActionType">
        <xs:sequence>
          <xs:element name="couplingToPhoton">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="charge" type="quarkChargeType"/>
                <xs:element name="cSW" type="couplingFixedToZeroType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- HiRep Quark Action Implementations -->
  <xs:complexType name="wilsonAdjointQuarkActionType">
    <xs:annotation>
      <xs:documentation>Wilson quark action with quarks in adjoint representation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="actionInfo"/>
      <xs:element name="quarkField" type="adjointQuarkFieldType"/>
      <xs:group ref="numberOfFlavours"/>
      <xs:element name="linkSmearing" type="linkSmearingType" minOccurs="0"/>
      <xs:element name="kappa" type="couplingType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wilsonTwoIndexSymmetricQuarkActionType">
    <xs:annotation>
      <xs:documentation>Wilson quark action with quarks in 2-index-symmetric representation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="actionInfo"/>
      <xs:element name="quarkField" type="twoIndexSymmetricQuarkFieldType"/>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:group ref="numberOfFlavours"/>
      <xs:element name="linkSmearing" type="linkSmearingType" minOccurs="0"/>
      <xs:element name="kappa" type="couplingType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wilsonTwoIndexAntisymmetricQuarkActionType">
    <xs:annotation>
      <xs:documentation>Wilson quark action with quarks in 2-index-antisymmetric representation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="actionInfo"/>
      <xs:element name="quarkField" type="twoIndexAntisymmetricQuarkFieldType"/>
      <xs:group ref="numberOfFlavours"/>
      <xs:element name="linkSmearing" type="linkSmearingType" minOccurs="0"/>
      <xs:element name="kappa" type="couplingType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="adjointQuarkFieldType">
    <xs:annotation>
      <xs:documentation>Specifies normalisation and boundary conditions for quarks in adjoint representation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="representation">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="adjoint"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="normalisation" type="xs:string"/>
      <xs:group ref="generalBoundaryConditions"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="twoIndexSymmetricQuarkFieldType">
    <xs:annotation>
      <xs:documentation>Specifies normalisation and boundary conditions for quarks in 2-index-symmetric representation</xs:documentation>
    </xs:annotation>
      <xs:sequence>
        <xs:element name="representation">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="2-index-symmetric"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="normalisation" type="xs:string"/>
        <xs:group ref="generalBoundaryConditions"/>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="twoIndexAntisymmetricQuarkFieldType">
    <xs:annotation>
      <xs:documentation>Specifies normalisation and boundary conditions for quarks in 2-index-antisymmetric representation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="representation">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="2-index-antisymmetric"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="normalisation" type="xs:string"/>
      <xs:group ref="generalBoundaryConditions"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- link smearing -->
  <xs:complexType name="linkSmearingType">
    <xs:annotation>
      <xs:documentation>link smearing</xs:documentation>
    </xs:annotation>
      <xs:sequence>
        <xs:group ref="linkBlocking"/>
        <xs:element name="linkUnitarization" type="linkUnitarizationType"/>
        <xs:element name="numSmear" type="xs:integer"/>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="linkBlockingType">
    <xs:annotation>
      <xs:documentation>The base type for defining a link blocking scheme, being the a sum of link paths with common endpoints (those of the original link). The paths are weighted by one or more coefficients.</xs:documentation>
    </xs:annotation>
  </xs:complexType>

  <xs:group name="linkBlocking">
   <xs:choice>
     <xs:element name="apeLinkBlocking" type="apeLinkBlockingType"/>
     <xs:element name="anisotropicApeLinkBlocking" type="anisotropicApeLinkBlockingType"/>
   </xs:choice>
  </xs:group>

  <xs:complexType name="apeLinkBlockingType">
    <xs:annotation>
      <xs:documentation>Block the links using an isotropic APE blocking method. rho0 is the coefficient of the original link. rho1 is the coefficient in front of the sum of six simple staples. rho0 = 0, rho0 = 1 and rho0 = (1 - 6 rho1) are typical examples. Reference: Phys. Lett. B192 163, 1987.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="linkBlockingType">
        <xs:sequence>
          <xs:element name="rho0" type="couplingType"/>
          <xs:element name="rho1" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="anisotropicApeLinkBlockingType">
    <xs:annotation>
      <xs:documentation>Block the links using an anisotropic APE blocking method. rho0S, rho1SS and rho1ST are coefficients for blocking links in spatial direction: rho0S is the coefficient of the link, rho1SS is that in front of the sum of 4 space-space staples, rho1ST is that in front of the sum of 2 space-time staples. rho0T and rho1TS are coefficients for blocking links in temporal direction: rho0T is the coefficient of the link, rho1TS is the coefficient in front of the sum of 6 space-time staples. Reference: Phys. Lett. B192 163, 1987 and QCDml documentation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="linkBlockingType">
        <xs:sequence>
          <xs:element name="rho0S" type="couplingType"/>
          <xs:element name="rho0T" type="couplingType"/>
          <xs:element name="rho1SS" type="couplingType"/>
          <xs:element name="rho1ST" type="couplingType"/>
          <xs:element name="rho1TS" type="couplingType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="linkUnitarizationType">
    <xs:annotation>
      <xs:documentation>Methods of link unitarization (method should take a matrix and construct a special unitary matrix)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="none"/>
      <xs:enumeration value="stout">
        <xs:annotation>
          <xs:documentation>Unitarise the blocked links with the stout link construction. Reference: Phys.Rev.D69:054501,2004, hep-lat/0311018.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invsqrt">        
        <xs:annotation>
          <xs:documentation>Unitarise the blocked links by multiplying the inverse square root of the matrices, then factor out the determinant. Reference: Phys.Rev.D70:014502,2004, hep-lat/0403019.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- Algorithm Info -->
  <xs:complexType name="algorithmType">
    <xs:annotation>
      <xs:documentation>Description of the simulation algorithm. If "reweightingNeeded" is true, all parameters to compute the reweighting facturs MUST be given!</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:Name"/>
      <xs:element name="glossary" type="xs:anyURI"/>
      <xs:element name="reference" type="nonEmptyString"/>
      <xs:element name="exact" type="xs:boolean"/>
      <xs:element name="reweightingNeeded" type="xs:boolean"/>
      <xs:element name="parameters" type="parametersType" minOccurs="0"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="parametersType">
    <xs:annotation>
      <xs:documentation>Nonempty list of parameter elements (must include all relevant parameters if "reweightingNeeded" is true!)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="parameter" type="parameterType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parameterType">
    <xs:annotation>
      <xs:documentation>Contains an optional annotation, a name and a value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:Name"/>
      <xs:element name="value" type="xs:anySimpleType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Free sub-tree -->
  <xs:complexType name="additionalInfoType">
    <xs:annotation>
      <xs:documentation>If an "additionalInfo" element is present, it must have at least on child element, which can be an "annotation" (without name-space) or any custom element with an "other" name-space</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element name="annotation" type="xs:string"/>
        <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
      <xs:sequence>
        <xs:any namespace="##other" minOccurs="1" maxOccurs="unbounded" processContents="lax"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

  <!-- Common groups -->
  <xs:group name="actionInfo">
    <xs:sequence>
      <xs:element name="annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="glossary" type="xs:anyURI"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="generalBoundaryConditions">
    <xs:annotation>
      <xs:documentation>An array of anyBoundaryConditionType elements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="boundaryCondition">   <!-- fixed name! -->
        <xs:complexType>
          <xs:choice>
            <xs:sequence>
              <xs:element name="x" type="anyBoundaryConditionType"/>
              <xs:element name="y" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="z" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="t" type="anyBoundaryConditionType"/>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="t" type="anyBoundaryConditionType"/>
              <xs:element name="x" type="anyBoundaryConditionType"/>
              <xs:element name="y" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="z" type="anyBoundaryConditionType" minOccurs="0"/>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="anyBoundaryConditionType">
    <xs:annotation>
      <xs:documentation>Enumeration of possible boundary conditions</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="antiperiodic"/>
      <xs:enumeration value="cstar"/>
      <xs:enumeration value="dirichlet"/>
      <xs:enumeration value="periodic"/>
      <xs:enumeration value="open"/>
      <xs:enumeration value="openSF"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="openBoundaryConditions">
    <xs:annotation>
      <xs:documentation>An array of boundary condition elements with time direction forced to "open".</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="boundaryCondition">  <!-- fixed name! -->
        <xs:complexType>
          <xs:choice>
            <xs:sequence>
              <xs:element name="x" type="anyBoundaryConditionType"/>
              <xs:element name="y" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="z" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="t" type="openBoundaryConditionType"/>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="t" type="openBoundaryConditionType"/>
              <xs:element name="x" type="anyBoundaryConditionType"/>
              <xs:element name="y" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="z" type="anyBoundaryConditionType" minOccurs="0"/>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="openBoundaryConditionType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="open"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="cstarBoundaryConditions">
    <xs:annotation>
      <xs:documentation>An array of boundary condition elements with x-direction forced to "cstar".</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="boundaryCondition">  <!-- fixed name! -->
        <xs:complexType>
          <xs:choice>
            <xs:sequence>
              <xs:element name="x" type="cstarBoundaryConditionType"/>
              <xs:element name="y" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="z" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="t" type="anyBoundaryConditionType"/>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="t" type="anyBoundaryConditionType"/>
              <xs:element name="x" type="cstarBoundaryConditionType"/>
              <xs:element name="y" type="anyBoundaryConditionType" minOccurs="0"/>
              <xs:element name="z" type="anyBoundaryConditionType" minOccurs="0"/>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="cstarBoundaryConditionType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="cstar"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="numberOfFlavours">
    <xs:annotation>
      <xs:documentation>The number of flavours of quarks that have the specific action</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfFlavours" type="xs:integer"/>
    </xs:sequence>
  </xs:group>

  <!-- Common types -->
  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="couplingType">
    <xs:annotation>
      <xs:documentation>All couplings are of this type, essentially a double</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="couplingFixedToZeroType">
    <xs:annotation>
      <xs:documentation>All couplings are of this type are fixed to value = 0</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:enumeration value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="couplingFixedToOneType">
    <xs:annotation>
      <xs:documentation>All couplings are of this type are fixed to value = 1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Unused Types -->
  <xs:complexType name="quarkCouplingsType">
    <xs:annotation>
      <xs:documentation>Contaings N couplings plus integer numberOfFlavours</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="numberOfFlavours"/>
      <xs:element name="nCouplings" type="couplingType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="gaugeFixingType">
    <xs:annotation>
      <xs:documentation>Supported gauge-fixing types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="coulomb"/>
      <xs:enumeration value="feynman"/>
      <xs:enumeration value="landau"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="additionalConstraintType">
    <xs:annotation>
      <xs:documentation>Supported methods of zero-mode regularization</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="qedL"/>
      <xs:enumeration value="qedTL"/>
      <xs:enumeration value="qedS"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
